In [1]:
import pandas as pd

df = pd.read_csv('taxi_zones/taxi+_zone_lookup.csv')
df.tail()

     LocationID    Borough                Zone service_zone
260         261  Manhattan  World Trade Center  Yellow Zone
261         262  Manhattan      Yorkville East  Yellow Zone
262         263  Manhattan      Yorkville West  Yellow Zone
263         264    Unknown                  NV          NaN
264         265    Unknown                 NaN          NaN

In [3]:
import numpy as np

In [11]:
df.groupby('Borough').agg({'Zone': list, 'LocationID': 'count'})['Zone'].values[0]

['Allerton/Pelham Gardens',
 'Bedford Park',
 'Belmont',
 'Bronx Park',
 'Bronxdale',
 'City Island',
 'Claremont/Bathgate',
 'Co-Op City',
 'Country Club',
 'Crotona Park',
 'Crotona Park East',
 'East Concourse/Concourse Village',
 'East Tremont',
 'Eastchester',
 'Fordham South',
 'Highbridge',
 'Hunts Point',
 'Kingsbridge Heights',
 'Longwood',
 'Melrose South',
 'Morrisania/Melrose',
 'Mott Haven/Port Morris',
 'Mount Hope',
 'Norwood',
 'Parkchester',
 'Pelham Bay',
 'Pelham Bay Park',
 'Pelham Parkway',
 'Rikers Island',
 'Riverdale/North Riverdale/Fieldston',
 'Schuylerville/Edgewater Park',
 'Soundview/Bruckner',
 'Soundview/Castle Hill',
 'Spuyten Duyvil/Kingsbridge',
 'University Heights/Morris Heights',
 'Van Cortlandt Park',
 'Van Cortlandt Village',
 'Van Nest/Morris Park',
 'West Concourse',
 'West Farms/Bronx River',
 'Westchester Village/Unionport',
 'Williamsbridge/Olinville',
 'Woodlawn/Wakefield']