In [1]:
import pandas as pd

df = pd.read_csv('taxi_zones/taxi+_zone_lookup.csv')
df.tail()

     LocationID    Borough                Zone service_zone
260         261  Manhattan  World Trade Center  Yellow Zone
261         262  Manhattan      Yorkville East  Yellow Zone
262         263  Manhattan      Yorkville West  Yellow Zone
263         264    Unknown                  NV          NaN
264         265    Unknown                 NaN          NaN

In [5]:
df.groupby('Borough').describe()

              LocationID                                                       \
                   count        mean        std    min     25%    50%     75%
Borough
Bronx               43.0  146.837209  80.463813    3.0   64.50  168.0  212.50
Brooklyn            61.0  108.393443  73.652626   11.0   49.00   85.0  177.00
EWR                  1.0    1.000000        NaN    1.0    1.00    1.0    1.00
Manhattan           69.0  147.434783  72.530821    4.0  100.00  144.0  224.00
Queens              69.0  128.565217  73.467576    2.0   73.00  131.0  193.00
Staten Island       20.0  137.250000  77.914173    5.0   95.25  137.0  204.50
Unknown              2.0  264.500000   0.707107  264.0  264.25  264.5  264.75


                 max
Borough
Bronx          259.0
Brooklyn       257.0
EWR              1.0
Manhattan      263.0
Queens         260.0
Staten Island  251.0
Unknown        265.0

In [ ]:
df.groupby('Borough').agg({'Zone': list, 'LocationID': 'count'})['Zone'].values[0]